<div class="container mt-5">
  <section class="my-3">
    <div class="row text-center m-2 justify-content-center">
      <div class="col">
        <h4>Buttons</h4>
      </div>
      <div class="col offset-md-6">
        <a
          target="_blank"
          matTooltip="Edit on Stackblitz"
          matTooltipPosition="above"
          href="https://stackblitz.com/edit/angular-ivy-shgfyx"
          ><mat-icon svgIcon="electric_bolt">electric_bolt</mat-icon></a
        >
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row gy-3 m-2">
      <div class="col-4">
        <button mat-raised-button hovered color="primary">Enabled</button>
      </div>
      <div class="col-4">
        <button mat-stroked-button color="primary">Enabled</button>
      </div>
      <div class="col-4">
        <button mat-button color="primary">Enabled</button>
      </div>
      <div class="col-4">
        <button mat-raised-button disabled color="primary">Disabled</button>
      </div>
      <div class="col-4">
        <button mat-stroked-button disabled color="primary">Disabled</button>
      </div>
      <div class="col-4">
        <button mat-button disabled color="primary">Disabled</button>
      </div>
      <div class="col-4">
        <button mat-raised-button color="primary">Hovered</button>
      </div>
      <div class="col-4">
        <button mat-stroked-button color="primary">Hovered</button>
      </div>
      <div class="col-4">
        <button mat-button color="primary">Hovered</button>
      </div>
      <div class="col-4">
        <button mat-raised-button color="primary">Focused</button>
      </div>
      <div class="col-4">
        <button mat-stroked-button color="primary">Focused</button>
      </div>
      <div class="col-4">
        <button mat-button color="primary">Focused</button>
      </div>
      <div class="col-4">
        <button mat-raised-button color="primary">Pressed</button>
      </div>
      <div class="col-4">
        <button mat-stroked-button color="primary">Pressed</button>
      </div>
      <div class="col-4">
        <button mat-button color="primary">Pressed</button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="my-3">
    <div class="row m-2">
      <div class="col-auto m-auto"><h6>Icon</h6></div>
      <div class="col">
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon svgIcon="more_vert">more_vert</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon svgIcon="home">home</mat-icon>
        </button>
        <button
          mat-icon-button
          color="accent"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon svgIcon="menu">menu</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon svgIcon="favorite">favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          disabled
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon svgIcon="open_in_new">open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="my-3">
    <div class="row m-2">
      <div class="col-auto m-auto"><h6>FAB</h6></div>
      <div class="col">
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon svgIcon="home"></mat-icon>
        </button>
        <button
          mat-fab
          color="accent"
          aria-label="Example icon button with a bookmark icon"
        >
          <mat-icon svgIcon="bookmark">bookmark</mat-icon>
        </button>
        <button
          mat-fab
          color="warn"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon svgIcon="home">home</mat-icon>
        </button>
        <button
          mat-fab
          disabled
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon svgIcon="favorite">favorite</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="my-3">
    <div class="row m-2">
      <div class="col-auto m-auto"><h6>Mini FAB</h6></div>
      <div class="col">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon svgIcon="menu">menu</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="accent"
          aria-label="Example icon button with a plus one icon"
        >
          <mat-icon svgIcon="exposure_plus_1">plus_one</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          aria-label="Example icon button with a filter list icon"
        >
          <mat-icon svgIcon="filter_list">filter_list</mat-icon>
        </button>
        <button
          mat-mini-fab
          disabled
          aria-label="Example icon button with a home icon"
        >
          <mat-icon svgIcon="home">home</mat-icon>
        </button>
      </div>
    </div>
  </section>
</div>
