@use '@angular/material' as mat;
@import './theme.scss';

// Include the theme mixins for other components you use here.

// include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// include any default variable overrides here

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

// include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';

// include any default map overrides here

// include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// optionally include any other parts as needed
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
// @import '~bootstrap/scss/type';
// @import '~bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
// @import '~bootstrap/scss/helpers';

// optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import 'bootstrap/scss/utilities/api';

// add additional custom code here
